<div class="movie">
  <div class="movie-image">
    <%= link_to home_path(film) do %>
      <span class="play">
        <span class="name"><%= film.name %>
        </span>
      </span>
      <%= image_tag film.image %>
    <% end %>
  </div>
  <div class="rating">
    <p>RATING</p>
    <div class="stars">
      <div class="stars-in"> </div>
    </div>
    <span class="comments">12</span>
  </div>
</div>
