<div id='myElement'>Loading the player...</div>
<script type='text/javascript'>
  jwplayer.key="YgtWotBOi+JsQi+stgRlQ3SK21W2vbKi/K2V86kVbwU=";
  jwplayer("myElement").setup({
    "file": "<%= @link %>",
    "image": "https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwj5yJ3D-sLiAhUJat4KHeZqAYIQjRx6BAgBEAU&url=https%3A%2F%2Fwikicachlam.com%2Ftong-hop-nhung-hinh-anh-dep-nhat-cua-bo-cong-anh%2F&psig=AOvVaw1TWch38atUX0R3iv56J_BE&ust=1559295497026597"
  });
</script>
